---
layout: default
sections:
  hero:
    title: Home
    classes: hero
  github:
    title: Github
  features:
    title: Features
    classes: hero dark
  about:
    title: Sobre
---

<section data-area="main-content">
<div class="wrapper" data-grid="spacing">
  <div data-cell="3of4">
    <h1>Título da matéria</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque debitis officia, saepe aut officiis ea perferendis asperiores dolores. Facere praesentium ducimus veritatis cum ex? Numquam alias iste laudantium inventore temporibus.</p>
  </div>
  <div data-cell="1of4">
    <section data-area="profile">
      <div class="foto">
        <img src="{{ site.baseurl }}/img/ilustrativas/profile-2.jpg" alt="">
      </div>
      <h3>Gabriel Fonseca</h3>
        <p>Fã de bandas britânicas, Star Wars e cultura pop em geral. Front-end Developer e admirador de coisas retrôs, dando voltas pelo Sol desde 1995.</p>
    </section>
  </div>
</div>
</section>

{% for s in page.sections %}

  {% assign id = s[0] %}
  {% assign section = s[1] %}

  <section class="page-content section-{{ id }} {{ section.classes }}" id="{{ id }}">

    {% include sections/{{ id }}.html %}

  </section>

{% endfor %}
