---
layout: default
isPaginated: true

---

<div class="wrapper" data-grid="spacing">
  <div data-cell="3of4">
      {% for post in paginator.posts %}
        <section data-area="content-list">
            <h1>
              <a href="{{ post.url | prepend: site.baseurl }}">- {{ post.title }} -</a>
            </h1>
            <p class="center">[{{ post.date | date: "%b %-d, %Y" }}]</p>
            <div class="foto">
                <img src="{{ post.img }}" class="portrait" alt="">
              </div>        
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 200 }}</p>
        </section>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <footer class="pagination">
        <div data-grid="center spacing justify">
            {% if paginator.previous_page %}
                <a data-cell="shrink" href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous icon">{% include svg/left-arrow.svg %}</a>
            {% else %}
                <span data-cell="shrink" class="previous icon">{% include svg/left-arrow.svg %}</span>
            {% endif %}
            <span data-cell="shrink" class="page_number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a data-cell="shrink" href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next icon">{% include svg/next-arrow.svg %}</a>
            {% else %}
                <span data-cell="shrink" class="next icon">{% include svg/next-arrow.svg %}</span>
            {% endif %}
        </div>
      </footer>
    {% endif %}
  </div>
  {% include profile.html %}
</div>

