
@font-face
    font-family: 'nixie_oneregular'
    src: url('../fonts/nixieone-webfont.eot')
    src: url('../fonts/nixieone-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nixieone-webfont.woff2') format('woff2'), url('../fonts/nixieone-webfont.woff') format('woff'), url('../fonts/nixieone-webfont.ttf') format('truetype'), url('../fonts/nixieone-webfont.svg#nixie_oneregular') format('svg')
    font-weight: normal
    font-style: normal