
$base-font-family: 'arvoregular'
$logo-font-family: 'nixie_oneregular'
$title-font-family: 'crete_roundregular'
$base-font-size:   1em
$base-font-weight: 400
$small-font-size:  $base-font-size * 0.75
$base-line-height: 1.5

$spacing-unit:     30px

$text-color:       rgba(0,0,0,0.87)
$background-color: #fdfdfd
$brand-color:      #43AAB8
$link-color:       #F16A50
$compl-color:      #a4ea00
$white-color:      #ffffff

$grey-color:       #828282
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark:  darken($grey-color, 25%)

$on-palm:             600px
$on-laptop:           800px
$content-width:       1000px
$large-content-width: 1200px
