[data-area~="main-content"]
    background-color: #EDE5D8
    height: 500px
    padding-top: $spacing-unit

[data-area~="profile"]
    .foto
        border-radius: 100%
        max-width: 100%
        overflow: hidden