[data-area~="main-content"]
    background-color: #EDE5D8
    padding-top: $spacing-unit
    +media-query($on-palm)
        padding-top: $spacing-unit * 2

    .foto
        height: 230px

[data-area~="profile"]
    .foto
        border-radius: 100%
        max-width: 100%
        overflow: hidden
    p
        padding-bottom: $spacing-unit
        margin-bottom: $spacing-unit
        border-bottom: 1px dashed $text-color
