---
layout: default
---

<section class="wrapper" data-grid="spacing">
  <div data-cell="3of4">
    <section data-area="content-list">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">- {{ page.title }} -</h1>
          <div data-grid="center justify spacing">
            <div data-cell="shrink">
              <p>[{{ page.date | date: "%b %-d, %Y" }}] {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
            </div>
            <div data-cell="shrink">
              {% include share/widget.html position='cabeçalho' %}
            </div> 
          </div>          
          <img src="{{ page.img }}" alt="">
          <div data-grid="center justify spacing">
            <div data-cell="shrink fill">
              <p class="post-meta">Em parceria com: Douglas Casari</p>
            </div>
            <div data-cell="shrink fill">              
            </div>
          </div>          
        </header>
        <div class="post-content" itemprop="articleBody">
        {{ content }}
        </div>
        <h6>Veja também</h6>
        <div data-grid="spacing">
          {% for post in site.posts limit: 3 %}
            {% if post.title == page.title %}

            {% else %}
              <div data-cell="1of3 shrink center">
                  <section data-area="polaroid">
                    <div class="foto">
                      <img src="{{ post.img }}" class="landscape" alt="">
                    </div>
                    <p class="center">{{ post.title }}</p>
                  </section>
              </div>
            {% endif %}    
          {% endfor %}
          <!--<div data-cell="1of3">
            <section data-area="polaroid">
              <div class="foto">
                <img src="../img/ilustrativas/black-panther.jpg" class="landscape" alt="">
              </div>
              <p class="center">Pantera Negra - Um filme sobre Diversidade</p>        
            </section>
          </div>
          <div data-cell="1of3">
            <section data-area="polaroid">
              <div class="foto">
                <img src="../img/ilustrativas/black-panther.jpg" class="landscape" alt="">
              </div>
              <p class="center">Pantera Negra - Um filme sobre Diversidade</p>
            </section>
          </div>
          <div data-cell="1of3">
            <section data-area="polaroid">
              <div class="foto">
                <img src="../img/ilustrativas/black-panther.jpg" class="landscape" alt="">
              </div>
              <p class="center">Pantera Negra - Um filme sobre Diversidade</p>
            </section>
          </div>-->          
        </div>
      </article>
      <div id="disqus_thread"></div>
      <script>
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://supersonicgabs-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
  </div>
{% include profile.html %}
</section>

<script id="dsq-count-scr" src="//supersonicgabs-github-io.disqus.com/count.js" async></script>
